<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PortflioApp"
        tools:targetApi="31">

        <!-- Splash Screen Activity -->
        <activity
            android:name=".SplashScreen"
            android:exported="true"
            android:theme="@style/Theme.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Other Activities -->
        <activity android:name=".Get_in_Touch" android:exported="false" />
        <activity android:name=".Project" android:exported="false" />
        <activity android:name=".onlineInternship" android:exported="false" />
        <activity android:name=".profesionalCertificate" android:exported="false" />
        <activity android:name=".Soft_Skill" android:exported="false" />
        <activity android:name=".Hard_Skill" android:exported="false" />
        <activity android:name=".Education" android:exported="false" />
        <activity android:name=".About" android:exported="false" />

        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.PortflioApp" />
    </application>

</manifest>


